<!DOCTYPE HTML>
<!-- src/BroodjesProject/Presentation/Afrekenen.twig --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Afrekenen</title> 
        <!--<link rel="stylesheet" href="css/styling.css">-->
    </head> 
    <body>
        <h1>Dank u voor uw bestelling</h1>
        
        <a href="bestelbroodjesControll.php?action=keuze">Nog een broodje bestellen<a/><br />
            <a href="bestelbroodjesControll.php?action=delete">Wijzig uw bestelling<a/><br />
                <a href="registrerenControll.php?action=logout">logout<a/><br />
    </body>
