<!DOCTYPE HTML>
<!-- src/BroodjesProject/Presentation/Registreer.php --> 
 
    <head> 
        <meta charset=utf-8> 
        <title>Registreren</title> 
        <link rel="stylesheet" href="css/styling.css">
    </head> 
    <body> 
        <section class="wrappercontent">
        <h1>Registreren</h1>
        
        <div>
            <form method="post" action="registreer">        
                E-mail : <input type="email" name="txtemail"><br /><br /><br />
                <input type="submit" value=" Registreren">
                
            </form>
        </div>
        </section>
        
        
    </body>